/*!       General       */
html, body{
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: Bahnschrift;
    text-align: justify;
    background-color: rgb(29, 29, 29);
}
.color{
    color: #043616;
}
a{
    cursor: pointer;
}

/*     Scrollbar     */
::-webkit-scrollbar {
    display: none;
}

/*!       Header       */
header{
    background-color: rgba(180, 180, 180, 0.4);
    border-radius: 20px;
    align-items: center;
    display: flex;
    position:fixed;
    --header_faltól: 1rem;
    right: var(--header_faltól);
    top: var(--header_faltól);
}
#header_ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}
.header_icon{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    margin-inline: 15px;

    --icon_size: 35px;
    height: var(--icon_size);
    width: var(--icon_size);
    padding-left: 1.5rem;
}


/*     Icons     */
.google_drive_icon{
    background-image: url(../IMG/Google_Drive_icon.png);
}
.github_icon{
    background-image: url(../IMG/Git_Hub_icon.png);
}
.abaut_us_icon{
    background-image: url(../IMG/Abaut_Us_icon.png);
    height: 40px;
    width: 40px;
}
/*     Léc a header-nek     */
#spacer{
    height: 72px;
}
/*!       Main       */
main{
    height: 1000px;
}

/*!       Footer       */
footer{
    line-height: 1.5rem;
    font-size: 80%;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
#footer_table{
    width: 100%;
}
footer p{
    color: white;
    margin: 0;
}
#foot_left{
    margin-left: 1rem;
}
#foot_right{
    margin-right: 1rem;
    text-align: right;
}