/*!       General       */
body{
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: Bahnschrift;
}
a{
    cursor: pointer;
}

/*     Scrollbar     */
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar:hover {
    width: 18px;
}
::-webkit-scrollbar-track:hover {
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    border-left: none;
}

/*!       Header       */
header{
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    position:fixed;
    /* elhelyezkedés
    right: ;
    top: ;
    */
}
#header_ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}
.header_icon{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    margin-inline: 15px;

    --icon_size: 35px;
    height: var(--icon_size);
    width: var(--icon_size);
    padding-left: 20px;
}

/*     Icons     */
.google_drive_icon{
    background-image: url(../IMG/Google_Drive_icon.png);
}
.github_icon{
    background-image: url(../IMG/Git_Hub_icon.png);
}
.abaut_us_icon{
    background-image: url(../IMG/Abaut_Us_icon_2.0.png);
}
/*     Léc a header-nek     */
#spacer{
    height: 72px;
}
/*!       Main       */
main{
    height: 1000px;
}

/*!       Footer       */
footer{
    line-height: 1.5rem;
    font-size: 80%;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
#footer_table{
    width: 100%;
}
footer p{
    color: white;
    margin: 0;
}
#foot_left{
    margin-left: 1rem;
}
#foot_right{
    margin-right: 1rem;
    text-align: right;
}