/*!       General       */
body{
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: Bahnschrift;
    text-align: justify;
    background-image: url(../IMG/fű.png);
    background-size: 6%;
    color: #043616;
}
a{
    cursor: pointer;
}
hr{
    background-image: url(../IMG/fal.png);
    display: block;
    height: 16px;
    width: 90%;
    border: 0;
    border-radius: 5px;
}

/*     Scrollbar     */
::-webkit-scrollbar {
    display: none;
}

/*!       Header       */
header{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    align-items: center;
    display: flex;
    position:fixed;
    --header_faltól: 1rem;
    right: var(--header_faltól);
    top: var(--header_faltól);
}
#header_ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}
.header_icon{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    margin-inline: 15px;

    --icon_size: 35px;
    height: var(--icon_size);
    width: var(--icon_size);
    padding-left: 1.5rem;
}

/*     Icons     */
.google_drive_icon{
    background-image: url(../IMG/Google_Drive_icon.png);
}
.github_icon{
    background-image: url(../IMG/Git_Hub_icon.png);
}
.home_icon{
    background-image: url(../IMG/Home_icon.png);
}
/*     Léc a header-nek     */
#spacer{
    height: 72px;
}

/*!       Main       */
:root{
    --text_in: 1rem;
}
main h1{
    text-align: center;
    font-size: 2.5rem;
}
.name{
    margin-bottom: 0.2rem;
    margin-left: calc(1 * var(--text_in));
}
.task{
    margin-top: 0.2rem;
    margin-left: calc(2 * var(--text_in));
}
.h3_title{
    margin-bottom: 0.2rem;
    margin-left: calc(2 * var(--text_in));
}
main p{
    margin-top: 0.2rem;
    margin-left: calc(3 * var(--text_in));
    margin-right: calc(2 * var(--text_in))
}

/*!       Footer       */
footer{
    line-height: 1.5rem;
    font-size: 80%;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.8);
}
#footer_table{
    width: 100%;
}
footer p{
    color: white;
    margin: 0;
}
#foot_left{
    margin-left: 1rem;
}
#foot_right{
    margin-right: 1rem;
    text-align: right;
}